* {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-family: "old standard tt";
  line-height: 1.4em; }

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  padding: 0em 1.4em;
  box-sizing: border-box;
  height: 100vh; }

body {
  position: relative;
  min-height: 100vh;
  max-width: 50em;
  padding-bottom: 6rem;
  margin: 0em auto; }

a {
  color: #4488cc;
  text-decoration: none; }
  a:hover {
    color: #1d4064; }

h2, h3, h4, h5, h6 {
  margin: .5em 0em .1em 0em; }

header {
  border-top: 0.5em solid #4488cc;
  padding: 1em 0em; }
  header img {
    display: inline-block; }
  header h1 {
    display: inline-block; }
    header h1 a {
      color: black; }
      header h1 a:hover {
        text-decoration: none; }
  header ul {
    margin: 1em 0em;
    list-style: none; }
    header ul li {
      display: inline; }
      header ul li:after {
        content: " - "; }
      header ul li:last-child:after {
        content: ""; }

.pics {
  -webkit-column-width: 210px;
  -moz-column-width: 210px;
  column-width: 210px;
  display: block;
  text-align: center; }

.pic-thumb-img {
  max-width: 80%;
  max-height: 80%; }

.randopic {
    width: 100%;
}
ul.math {
    margin-bottom: 1.5em;
}

ul.math li {
    margin-left:1.2em;
    font-family: "DejaVu Sans Mono", monospace;
}

div.table {
    display: table;
}

div.table div.row {
    display: table-row;
}

div.table div.row div.cell {
    display: table-cell;
}

footer {
  position: absolute;
  right: 0em;
  left: 0em;
  bottom: 0em;
  width: 80%;
  max-width: 50em;
  text-align: right; }
