* {
  background: #000000;
  color: #FFFFFF;
  text-align: right;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#clock {
  font-size: 1.5em;
}

#wiki {
  width: 50%;
  display:inline-block;
}


#tide {
  overflow: hidden;
}
#tide line, #tide path {
  stroke: #fff;
}

#tide text {
  fill: #fff;
}

#wiki * {
  text-align: center;
}

#xkcd img {
  height: auto;
  max-width: 100%;
}

#todo li{
  text-align: left;
}
